@model WebApplication.ViewModels.CinemaViewModel

@{
    ViewData["Title"] = "Index";
    var defaultCinema = Model.Cinemas.FirstOrDefault();
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => defaultCinema.Name)
            </th>
            <th>
                City
            </th>
            <th>
                Type
            </th>
            <th>
                @Html.DisplayNameFor(model => defaultCinema.Capacity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cinemas) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Cities[item.CityId.ToString()])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Types[item.TypeId.ToString()])
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RowKey }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RowKey })
            </td>
        </tr>
}
    </tbody>
</table>
